.container{
  width: 1000px;
  margin: auto 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}
.container header {
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.container header img{
  height: 100%;
}
.container header h1{
  text-align: center;
  font-size: 3rem;
}
.container h2{
  font-size: 2rem;
  text-align: center;

  padding: 10px;
  margin-bottom: 10px;
}
.container header h2 span{
  font-size: 1.5rem;
  font-style: italic;
}
.container .infoPartida{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.container .infoPartida a{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: bold;
  border: solid blue 1px;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s background;
  color: blue;
}
.container .infoPartida a:hover{
  background-color: blue;
  border: black 1px solid;
  color: white;
}
#historicoRodadas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.container h3{
  margin-bottom: 30px;
}
.container .areaJogo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}

.container .btnjogar{
  text-decoration: none;
  border: blue 1px solid;
  border-radius: 10px;
  padding: 10px 50px;
}
.container .btnJogar:hover{
  background-color: blue;
  color: white;
}
.container .areaJogo .cardTelaJogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(87, 148, 228);
}
.areaJogo .cardTelaJogo img{
  height: 300px;
  width: 70%;
}
.cardTelaJogo {
  font-weight: bold;
  font-size: 1.2rem;
}
.cardTelaJogo button{
  border-radius: 10px;
  border: none;
  background-color: rgb(115, 115, 194);
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 10px;
}
.cardTelaJogo button:hover{
  background-color: rgb(42, 42, 131);
}

.escolhaJogadores{

  display: flex;
  flex-direction: column;

  border-radius: 10px;

  padding: 10px;

  background-color: rgb(175, 175, 235);
}
.escolhaJogadores div{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.escolhaJogadores p{
  font-size: 3rem;
  font-weight: bold;
  color: blue;
}
#movimentosUltimaRodada{
  margin-bottom: 50px;
}
.escolhaJogadores img{
  width: 130px;
  height: 100px;
}
.escolhaJogadores p{
  margin: 0 30px;
}
.cardCentral{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
.cardCentral a{
  text-decoration: none;
  font-weight: bold;
  border: solid blue 1px;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s background;

}
.cardCentral a:hover{
  background-color: blue;
  color: white;
  font-weight: bold;
  border: black solid 1px
}
#movimentosPartida{
  width: 70%;
  margin-top: 30px;
  border: blue solid 1px;
  border-radius: 10px;
  padding: 10px 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#movimentosPartida ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#movimentosPartida ul li{
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
