*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
}
html{
  scroll-behavior: smooth
}
body{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 800px){
  .escolhaPersonagem .container{
    width: 100%;
    justify-content: space-between;
  }
  .escolhaPersonagem .container a{
    flex-grow: 1;
  }
  .card img{
    width: 80%;
  }
  .home{
    width: 85%;
  }
  .cardCentral a{
    display: none;
  }
  .infoPartida a:nth-child(2){
    display: none;
  }
}