*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
}
html{
  scroll-behavior: smooth
}
body{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

@media(max-width: 600px){
  .card{
    width: 60px;
  }
}